.barre-navigation {
  background-image: url('../../assets/barreNavigation/background.png'); /* Image de fond */
  background-size: cover;
  background-position: center;
  padding: 10px;
  position: relative;
  z-index: 10;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 
 /* Style du burger en jaune */
 .burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  right: 10px;
 }
 
 
 .line {
  width: 30px;
  height: 4px;
  background-color: #000; /* Jaune pour les lignes du burger */
  transition: all 0.3s ease;
 }
 
 
 /* Menu déroulant */
 .nav {
  display: none;
  background-color: #000; /* Fond du menu déroulant */
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  padding-top: 50px;
 }
 
 
 .nav.open {
  display: block;
 }
 
 
 .nav ul {
  list-style: none;
  padding: 0;
 }
 
 
 .nav ul li {
  padding: 15px 0;
  text-align: center;
 }
 
 
 .nav ul li a {
  text-decoration: none;
  color: #FFD700;
  font-size: 20px;
  display: block;
 }
 
 
 /* Animations du burger */
 .rotate1 {
  transform: rotate(-45deg) translate(-5px, 6px);
 }
 
 
 .rotate2 {
  transform: rotate(45deg) translate(-5px, -6px);
 }
 
 
 .hide {
  opacity: 0;
 }
 
 
 .logo{
  margin-top:8%;
  margin-left:-8%;
  width:40%;
 }
 