.container {
    text-align: center;
    padding: 20px;
    background-color: #F5F5DC;
}

.title {
    color: #333;
    margin-top: 20px;
}

.image {
    max-width: 40%;
    border-radius: 10px;
}

.text {
    font-size: 18px;
    color: #555;
}

.list {
    list-style-type: disc;
    margin: 20px auto;
    text-align: left;
    max-width: 600px;
}
